<%- include('./partials/header.ejs') %>
<h1>Dashboard</h1>
<div id="profile-dashboard">
    <ul>
        <li>
        <h4>Name: <%- user.name %></h4>
        </li>
        <li>
        <h4>Email: <%- user.email %></h4>
        </li>
    </ul>
</div>
<div id="polls-active">
    <h2>Active polls:</h2>
    <% data.pollsActive.forEach(function(poll){ %>
        <div key=<%- poll._id %> >
            <ul>
                <% poll.options.forEach(function(option){ %>
                    <li key = <%- option._id %>>
                        <a id="option" href="/vote/<%- poll._id %>/<%- option._id %>  " >Option:<%- option.optionName %></a>
                    </li>
                <% }) %> 
            </ul>
            <% if(user.role === 'Admin') %><a class="button" href="/poll-end/<%- poll._id %> ">End Poll</a>
        </div>

    <% })%>
</div>
<div id="polls-ended">
    <h2>Ended polls:</h2>
    <% data.pollsEnded.forEach(function(poll){ %>
        <div key=<%- poll._id %> >
            <ul>
                <% poll.options.forEach(function(option){ %>
                    <li key = <%- option._id %>>
                        <p>Option:<%- option.optionName %></p>
                        <p>Votes:<%- option.votes %> </p>
                    </li>
                <% }) %> 
            </ul>
        </div>

    <% })%>
</div>
<%- include('./partials/footer.ejs') %>